.contents-mypage {
  /* background-color: rgb(250, 116, 116);
    position: absolute;
    padding: 20px 90px 20px 90px;
    width: 50%;
    max-width: 650px;
    margin: 80px;
    left : 0;
    right : 0; 
    margin-left : auto;
    margin-right : auto;
    top: 50px; */
}
.contents-mypage > h3 {
  position: relative;
  font-size: 26px;
  top: 100px;
  padding: 50px;
  text-align: center;
  font-weight: 700;
  color: #ffc737;
}
.flex-mypage {
  padding: 100px;
  display: flex;
}
.item-mypage {
  width: 100%;
  height: 200px;
  /* background-color: antiquewhite; */
  margin: 5px;
  border: 1px solid #e6e6e6;
  text-align: center;
  display: flex;

  flex-direction: column;
}

.icon-mypage,
.div-mypage {
  padding: 10px;
}

.div-mypage > h3 {
  font-size: 24px;
  font-weight: 500;
  padding: 14px;
}

.div-mypage > p {
  color: #747474;
}