/* reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:link { color: #262626; text-decoration: none;}
a:visited { color: #262626; text-decoration: none;}

/* layout */

div {
  /* border: 1px solid; */
}

div.pageLayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto auto;
}

/* nav */

.main-nav-container {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 -10px 10px 15px;
  color: rgba(174, 174, 174, 0.2);
}

.logo {
  display: block;
  float: left;
  width: 140px;
  padding: 10px 0 10px 30px;
}

.nav-bar-ul {
  float: right;
}
.nav-bar-li {
  font-size: 20px;
  font-weight: 900;
  line-height: 80px;
  padding: 0 30px;
  float: left;
}

/* 주문 단계 */

div.container-state {
  width: 90%;

  margin: 2% auto 4% auto;
}

span.state-cart {
  font-size: 2rem;
  font-weight: bold;
}

/* 장바구니 제품 정보 & 결제 정보 */

div.container-inCartAndpaymentInformation {
  width: 90%;

  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto;

  margin: 0 auto;
}

/* 장바구니 제품 정보 */

div.container-inCart {
  width: 95%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto;

  background-color: whitesmoke;

  margin-right: 3%;
}

div.container-inCart-selectAllAndDeleteAll {
  width: 100%;
  
  display: flex;
  align-content: center;
}

button.inCart-selectAll-button {
  margin-right: 1%;
}

button.inCart-deleteAll-button {

}

div.container-inCart-productList {
  width: 100%;
}

ul.inCart-productList-ul {
  width: 100%;
  
  display: flex;
  flex-wrap: wrap;
}

li.inCart-productList-li {
  width: 100%;
  display: flex;
}

div.container-productList-checkbox {
  width: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-productIamge {
  width: 24%;

  display: flex;
  justify-content: center;
  align-items: center;
}

img.productList-productIamge {
  width: 80%;
}

div.container-productList-productNameAndCountHandle {
  width: 23%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50% 50%;  
}

div.container-productList-productName {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-countHandle {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-productPrice {
  width: 23%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-multiple {
  width: 2%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-productNumber {
  width: 23%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-equal {
  width: 2%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-productTotalPrice {
  width: 23%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 결제 정보 */

div.container-paymentInformation {
  width: 100%;
  height: 300px;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 50px 50px 50px 50px 50px;

  background-color: whitesmoke;
}

div.container-paymentInformation-nav {
  display: flex;
  align-items: center;

}

div.container-paymentInformation-productCount {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

div.container-paymentInformation-productPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

div.container-paymentInformation-deliveryFee {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

div.container-paymentInformation-totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.paymentInformation-totalPrice1 {
  font-size: 1.1rem;
  font-weight: bold;
}

div.paymentInformation-totalPrice2 {
  font-size: 1.5rem;
  font-weight: bold;
}

div.container-paymentInformation-paymentButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.paymentInformation-paymentButton {
  width: 100%;
  height: 100%;
}


