/* reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:link { color: #262626; text-decoration: none;}
a:visited { color: #262626; text-decoration: none;}

/* layout */

div {
  /* border: 1px solid; */
}

div.pageLayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px 120px auto 80px;
}

/* nav */

.main-nav-container {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 -10px 10px 15px;
  color: rgba(174, 174, 174, 0.2);
}

.logo {
  display: block;
  float: left;
  width: 140px;
  padding: 10px 0 10px 30px;
}

.nav-bar-ul {
  float: right;
}
.nav-bar-li {
  font-size: 20px;
  font-weight: 900;
  line-height: 80px;
  padding: 0 30px;
  float: left;
}

/* div.container-nav-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-nav-list {
  display: flex;
  justify-content: right;
}

div.container-nav-list > ul {
  list-style: none;
}

div.container-nav-list > ul > li {
  display: inline-block;
}

div.container-nav-list > ul > li > a {
  text-decoration: none;
} */

/* categoryList */
/* - li 내부 a 크기 조정하는 데 세 시간 정도 쓴 것 같다. */
/* : line-height는 상위 요소의 height가 특정되어 있지 않다면 뭔 난리를 쳐도 안 먹힌다는 점을 명심하자.  */
/* : 맞나??? */

div.container-categoryList {
  /* display: grid;
  grid-template-columns: 0.2fr 0.6fr 0.2fr;
  grid-template-rows: 100%; */

  width: 60%;

  margin: 0 auto;
}

div.container-categoryList-list {
  display: flex;
}

ul.categoryList-list-ul {
  flex-grow: 1;
  
  display: flex;
}

ul.categoryList-list-ul > li {
  flex-grow: 1;
  
  display: flex;

  font-size: 2vw;
  font-weight: bold;
}

ul.categoryList-list-ul > li > a {
  flex-grow: 1;

  text-align: center;
  line-height: 120px;
}

/* productList */

div.container-productList {
  width: 80%;

  display: flex;

  margin: 0 auto;
}

ul.productList-list-ul {
  display: flex;
  flex-wrap: wrap;
}

li.productList-list-li {
  display: inline-block;
  
  width: 20%;
  
  margin: 3% 0;
}

div.container-productList-list-image {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 5%;
}

img.productList-list-image {
  width: 80%;
}

div.container-productList-list-description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

div.container-productList-list-description-name {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 3% 0;
}

div.productList-list-description-name {
  font-size: 1.5rem;
  font-weight: bold;
}

div.container-productList-list-description-price {
  display: flex;
  justify-content: center;
  align-items: center;
}

div.productList-list-description-price {
  font-size: 1.2rem;
  font-weight: bold;

  margin: 3% 0;
}

div.container-productList-list-description-type {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 3% 0;
}

div.productList-list-description-type {
  width: 40%;

  background-color: green;
  color: white;
  
  font-size: 1rem;
  font-weight: bold;

  text-align: center;
  
  border: 1px;
  border-radius: 100px;
  
  padding: 2% 0 2% 0;
  margin: 0 3%;
}

div.productList-list-description-type2 {
  width: 40%;

  background-color: white;
  color: black;
  
  font-size: 1rem;
  font-weight: bold;

  text-align: center;
  
  border: solid 1px;
  border-radius: 100px;
  
  padding: 2% 0 2% 0;
  margin: 0 3%;

}

div.container-productList-list-description-like {
  display: flex;
  justify-content: center;
  align-items: center;
  
  margin: 3% 0;
}

button.productList-list-button {
  width: 50%;
  font-size: 1rem;
  font-weight: bold;

  border: solid 1px;
  border-radius: 100px;

  padding: 2% 0;
}