/* reset css */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a:link { color: #262626; text-decoration: none;}
a:visited { color: #262626; text-decoration: none;}

/* layout */

div {
  /* border: 1px solid; */
}

div.pageLayout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px auto 80px;
}

/* nav */

.main-nav-container {
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0 -10px 10px 15px;
  color: rgba(174, 174, 174, 0.2);
}

.logo {
  display: block;
  float: left;
  width: 140px;
  padding: 10px 0 10px 30px;
}

.nav-bar-ul {
  float: right;
}
.nav-bar-li {
  font-size: 20px;
  font-weight: 900;
  line-height: 80px;
  padding: 0 30px;
  float: left;
}

/* 상세 페이지 */

div.container-detail {
  display: flex;
  padding-top: 5%;
  margin: 0 auto;
}

/* 상세 페이지 - 이미지 */

div.container-detail-image {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 50%;
}

img.detail-image {
  width: 80%;
}

/* 상세 페이지 - 상세 설명 & 주문 버튼 */

div.container-detail-description {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;

  width: 50%;

  padding: 3%;
}

div.container-detail-description-nameAndType {
  display: flex;
  align-items: center;
}

div.container-detail-description-name {
  display: flex;
  align-items: center;
}

div.detail-description-name {
  font-size: 2.5rem;
  font-weight: bold;
}

div.container-detail-description-type {
  display: flex;
  align-items: center;

  width: 25%;

  border: 1px solid;
  margin-left: 5%;
}

div.detail-description-type {
  width: 100%;

  background-color: green;
  color: white;

  font-size: 1rem;
  font-weight: bold;
  
  text-align: center;
  padding: 5% 0;
}


div.container-detail-description-price {
  display: flex;
  align-items: center;
}

div.detail-description-price {
  font-size: 2rem;
  font-weight: bold;
}

div.container-detail-description-description {
  display: flex;
  align-items: center;
}
div.detail-description-description {
  font-size: 1.2rem;
  font-weight: bold;
}

div.container-detail-description-cartAndOrder {
  display: flex;
  align-items: center;
}

div.container-detail-description-cart {
  display: flex;
  align-items: center;

  width: 40%;
}

div.detail-description-cart {
  background-color: darkorange;
  color: white;
  
  width: 100%;

  font-size: 1.3rem;
  font-weight: bold;

  text-align: center;

  padding: 10% 0 10% 0 ;
}

div.container-detail-description-order {
  display: flex;
  align-items: center;

  width: 40%;

  margin-left: 20px;
}

div.detail-description-order {
  background-color:red;
  color: white;
  
  width: 100%;

  font-size: 1.3rem;
  font-weight: bold;

  text-align: center;

  padding: 10% 0 10% 0 ;
}











