<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자용 네비게이션 바</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/reset.css">
  </head>
  <body>
    <div class="main-container">
      <nav class="main-nav-container">
        <a href="./mainHome.html"><img class="logo" src="../img/logo.png" alt="로고"></a>
        <ul class="nav-bar-ul">
          <li class="nav-bar-li"><a href="./adminsPage.html">관리자 페이지</a></li>
          <li class="nav-bar-li"><a href="#">로그아웃</a></li>
        </ul>
      </nav>
    </div>
</html>
gi