
.contents-management-page > h3 {
  position: relative;
  font-size: 26px;
  top: 100px;
  padding: 50px;
  text-align: center;
  font-weight: 700;
  color: #ffc737;
}
.flex-management-page {
  padding: 100px;
  display: flex;
  flex-wrap : wrap;
}
.item-management-page {
  width: 32%;
  height: 200px;
  /* background-color: antiquewhite; */
  margin: 5px;
  border: 1px solid #e6e6e6;
  text-align: center;
  display: flex;

  flex-direction: column;
}

.icon-management-page,
.div-management-page {
  padding: 10px;
}

.div-management-page > h3 {
  font-size: 24px;
  font-weight: 500;
  padding: 14px;
}

.div-management-page > p {
  color: #747474;
}
