<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>상품 등록</title>
    <link rel="stylesheet" href="/css/common/reset.css" />
    <link rel="stylesheet" href="/css/common/index.css" />
    <link rel="stylesheet" href="/css/adminsProductsAdd.css" />
  </head>
  <body>
    <!-- 네비게이션 바 -->
    <div class="main-container">
      <nav class="main-nav-container"><!--common/navBar.js--></nav>
    </div>

    <!-- 상품등록 페이지 -->
    <div class="container-sing-up">
      <div class="form-div border-sing-up">
        <form method="POST" enctype="multipart/form-data">
          <h3>상품 등록</h3>
          <div>
            <p>상품명</p>
            <input
              id="product-name"
              class="form-input-sing-up"
              placeholder="피카츄"
              type="text"
            />
          </div>
          <div>
            <p>카테고리</p>
            <select
              id="categories"
              class="items-management-orders"
              name="items"
            >
              <!--
                <option value="포켓몬">포켓몬</option>
                <option value="몬스터볼">몬스터볼</option>
              -->
            </select>
          </div>

          <div>
            <p>가격</p>
            <input
              id="price"
              class="form-input-sing-up"
              placeholder="10000"
              type="number"
            />
          </div>

          <div>
            <p>재고</p>
            <input
              id="stock"
              class="form-input-sing-up"
              placeholder="24"
              type="number"
            />
          </div>

          <div>
            <p>설명</p>
            <textarea
              id="description"
              class="form-input-sing-up"
              name="message"
              rows="4"
              cols="40"
              type="textarea"
            >
            </textarea>
          </div>

          <div class="upload-container">
            <label for="photo_upload">상품 사진</label>
            <input
              type="file"
              id="photo_upload"
              name="photo_upload"
              accept="image/*"
            />
            <div>
              <img src="#" alt="상품 등록 사진" id="preview" />
            </div>
          </div>

          <!-- [POST] 포켓몬(상품) 생성 API 요청 -->
          <button id="but-sing-up" class="but-sing-up">상품등록하기</button>
          <a href="/admins/products"> &larr; 상품 관리페이지</a>
        </form>
      </div>
    </div>

    <!-- JS 파일 -->
    <script src="/js/common/config.js"></script>
    <script src="/js/common/navBar.js"></script>
    <script src="/js/adminsProductsAdd.js"></script>
  </body>
</html>
