<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 - 상품 관리</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/adminsProduct.css" />
  </head>
  <body>
    <!-- 네비게이션 바 -->
    <div class="main-container">
      <nav class="main-nav-container"><!--common/navBar.js--></nav>
    </div>

    <!-- 주문조회  -->
    <div class="container">
      <div class="contents-mypage">
        <h3>관리자 - 상품 관리</h3>
        <div>
          <!-- 상단 숫자 -->
          <div class="flex-mypage">
            <div class="item-mypage">
              <div class="div-mypage">
                <p>등록된 상품 수</p>
                <h3 id="product-count">0</h3>
              </div>
            </div>
            <div class="item-mypage">
              <div class="div-mypage">
                <p>카테고리 수</p>
                <h3>0</h3>
              </div>
            </div>
            <div class="item-mypage">
              <div class="div-mypage">
                <p>가입자수</p>
                <h3>0</h3>
              </div>
            </div>
          </div>
        </div>

        <!-- 테이블 표 -->
        <div class="table-my-orders">
          <a href="./productRegistration.html"
            ><button class="add-product-but">상품 추가</button></a
          >
          <table>
            <thead>
              <tr>
                <th>상품명</th>
                <th>번호</th>
                <th>카테고리</th>
                <th>가격</th>
                <th>설명</th>
                <th>이미지</th>
              </tr>
            </thead>

            <tbody id="list-product"></tbody>
          </table>
        </div>
      </div>
    </div>

    <!-- JS 파일 -->
    <script src="/js/common/navBar.js"></script>
    <script src="../public/js/adminsProduct.js"></script>
  </body>
</html>
