<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>관리자 - 카테고리 추가</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/adminsCategoryAdd.css" />
  </head>
  <body>
    <!-- 네비게이션 바 -->
    <div class="main-container">
      <nav class="main-nav-container"><!--common/navBar.js--></nav>
    </div>

    <!-- 관리자 카테고리 추가  -->
    <div class="container">
      <div class="contents-mypage">
        <div class="container">
          <div class="form-div contents-login">
            <form class="form-login">
              <h3>카테고리 추가</h3>
              <div class="serve-login">
                <div class="input-login">
                  <input
                    id="categories-name"
                    type="text"
                    class="email"
                    placeholder="카테고리 명"
                    name="categoryName"
                  />
                </div>
              </div>
              <div class="but-login">
                <!-- [POST] 새 카테고리 생성 API 요청 -->
                <button id="categories-but">추가하기</button>
              </div>
            </form>
            <div class="back-page-div">
              <a href="/admins/categories">
                <div class="back-page-but">&larr; 이전페이지</div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- JS 파일 -->
    <script src="/js/common/navBar.js"></script>
    <script src="/js/common/common.js"></script>
    <script src="/js/adminsCategoryAdd.js"></script>
  </body>
</html>
