<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>대문</title>
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="stylesheet" href="/css/mainHome.css" />
  </head>
  <body>
    <!-- 네비게이션 바 -->
    <div class="main-container">
      <nav class="main-nav-container"><!--common/navBar.js--></nav>
    </div>

    <div class="container-fullScreen">
      <a class="container-monsterBall-a" href="#">
        <img class="monsterBall-img" src="../../img/몬스터볼.png" alt="" />
      </a>
      <span class="click">click!!</span>
    </div>

    <!-- JS 파일 -->
    <script src="/js/common/navBar.js"></script>
    <script src="/js/mainHome.js"></script>
  </body>
</html>
