<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>주문조회</title>
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/orderStatus.css">
  </head>
  <body>

    <!-- 네비게이션 바 -->
    <div class="main-container">
      <nav class="main-nav-container">
        <a href="./mainHome.html"><img class="logo" src="../img/logo.png" alt=""></a>
        <ul class="nav-bar-ul">
          <li class="nav-bar-li"><a href="./signUp.html">회원가입</a></li>
          <li class="nav-bar-li"><a href="./login.html">로그인</a></li>
          <li class="nav-bar-li"><a href="./cart.html">장바구니</a></li>
        </ul>
      </nav>
    </div>


    <!-- 주문조회  -->
    <div class="container">
      <div class="contents-mypage">
        <h3>주문조회</h3>
        <div class="table-my-orders">
          <table>

            <thead>
              <tr>
                <th>날짜</th>
                <th>주문 정보</th>
                <th>상태</th>
                <th>신청</th>
          
              </tr>
            </thead>

            <tbody>
              <tr>
                <td>2023-04-20</td>
                <td>피카츄/ 1마리</td>
                <td>상품 준비중</td>
                <td><button class="btn-my-orders">주문 취소</button></td>
              </tr>
              <tr>
                <td>2023-04-20</td>
                <td>피카츄/ 1마리</td>
                <td>배송중</td>
                <td><button class="btn-my-orders">주문 취소</button></td>
              </tr>

              <tr>
                <td>2023-04-20</td>
                <td>피카츄/ 1마리</td>
                <td>취소</td>
                <td><button class="btn-my-orders">주문 취소</button></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
</html>