<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>주문 완료 페이지</title>
  <link rel="stylesheet" href="../public/css/index.css">
  <link rel="stylesheet" href="../public/css/reset.css">
  <link rel="stylesheet" href="../public/css/orderComplete.css">
</head>
<body>
  <div class="gridContainer-whole">
    <div class="main-container">
      <nav class="main-nav-container">
        <a href="#"><img class="logo" src="../img/logo.png" alt=""></a>
        <ul class="nav-bar-ul">
          <li class="nav-bar-li"><a href="#">회원가입</a></li>
          <li class="nav-bar-li"><a href="#">로그인</a></li>
          <li class="nav-bar-li"><a href="#">장바구니</a></li>
        </ul>
      </nav>
    </div>
    <div class="gridItem-whole-PageName">
      <div class="container-pageName">
        <div class="pageName">
          <div class="container-pageName-name-sub">
            <span class="pageName-name-sub">장바구니 > 주문/결제 >&nbsp</span>
          </div>
          <div class="container-pageName-name">
            <span class="pageName-name"> 주문 완료 </span>
          </div>
        </div>
      </div>
      <div class="gridItem-whole-orderCompleteMessageBox">
        <div class="container-orderCompleteMessageBox">
          <div class="orderCompleteMessageBox">
            <div class="container-orderCompleteMessageBox-subject">
              <div class="orderCompleteMessageBox-subject">주문이 완료됐습니다.</div>
            </div>
            <div class="container-orderCompleteMessageBox-message">
              <div class="orderCompleteMessageBox-message">주문해주셔서 감사합니다. (- -)(_ _)</div>
            </div>
            <div class="container-orderCompleteMessageBox-button">
              <div class="container-button-button1">
                <button id="button-button1">주문 내역 보기</button>
              </div>
              <div class="container-button-button2">
                <a href="./productListByCategory.html"><button id="button-button2">쇼핑 계속 하기</button></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gridItem-whole-footer">
        <div class="container-footer">
          <footer></footer>
        </div>
      </div>
    </div>
    <script src="../public/js/orderComplete.js"></script>
</body>
</html>