<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>카테고리 풀</title>
  <link rel="stylesheet" href="../public/css/index.css">
  <link rel="stylesheet" href="../public/css/reset.css">
  <link rel="stylesheet" href="../public/css/productListByCategory.css">
</head>
<body>
  <div class="gridContainer-whole">
    <div class="main-container">
      <nav class="main-nav-container">
        <a href="#"><img class="logo" src="../img/logo.png" alt=""></a>
        <ul class="nav-bar-ul">
          <li class="nav-bar-li"><a href="#">회원가입</a></li>
          <li class="nav-bar-li"><a href="#">로그인</a></li>
          <li class="nav-bar-li"><a href="#">장바구니</a></li>
        </ul>
      </nav>
    </div>
    <div class="gridItem-whole-categoryBar">
      <div class="container-categoryBar">
        <div class="categoryBar">
          <div class="container-cartegoryBar-categoryList">
            <div class="cartegoryBar-categoryList">
              <ul class="cartegoryBar-categoryList-ul">
                <li style="border-left: 1px solid black;">
                  <a href="/category/전체" style="color: white;">전체</a>
                </li>
                  <!-- 나머지 카테고리 리스트 삽입(js) -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="gridItem-whole-productListByCategory">
      <div class="container-productListByCategory">
        <div class="productListByCategory">
          <div class="container-productListByCategory-list">
            <div class="productListByCategory-list">
              <ul class="productListByCategory-list-ul">
                <!-- 상품 리스트 삽입(js) -->
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="gridItem-whole-footer">
      <div class="container-footer">
        <div class="container-footer">푸터</div>
      </div>
    </div>
  </div>
  <script src="../public/js/productListByCategory.js"></script>
</body>
</html>