<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품 상세 페이지</title>
  <link rel="stylesheet" href="../public/css/index.css">
  <link rel="stylesheet" href="../public/css/reset.css">
  <link rel="stylesheet" href="../public/css/productDetail.css">
</head>
<body>
  <div class="gridContainer-whole">
    <div class="main-container">
      <nav class="main-nav-container">
        <a href="#"><img class="logo" src="../img/logo.png" alt=""></a>
        <ul class="nav-bar-ul">
          <li class="nav-bar-li"><a href="#">회원가입</a></li>
          <li class="nav-bar-li"><a href="#">로그인</a></li>
          <li class="nav-bar-li"><a href="#">장바구니</a></li>
        </ul>
      </nav>
    </div>
    <div class="gridItem-whole-detail">
      <div class="container-detail">
        <div class="detail">
          <div class="container-detail-image">
          <!--  
          -->
          </div>
          <div class="container-detail-description">
            <div class="one">
              <!-- 
               -->
            </div>
            <div class="two">
              <div class="container-countInput">
                <label for="count">수량:&nbsp;</label>
                <select name="" id="count">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>
                  <option value="8">8</option>
                  <option value="9">9</option>
                  <option value="10">10</option>
                </select>
              </div>
            </div>
            <div class="three">
              <div class="container-description-cartAndOrder">
                <div class="container-description-cart">
                  <button class="description-cart">장바구니에 추가</button>
                </div>
                <div class="container-description-order">
                  <button class="description-order">바로 구매</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gridItem-whole-footer">
      <div class="container-footer">
        <footer></footer>
      </div>
    </div>
  </div>
  <script src="../public/js/productDetail.js"></script>
</body>
</html>
