<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Daum 주소 API 사용하기 위한 파일 -->
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <title>주문관리 수정</title>
    <link rel="stylesheet" href="/css/common/reset.css" />
    <link rel="stylesheet" href="/css/common/index.css" />
    <link rel="stylesheet" href="/css/usersMyOrdersEdit.css" />
  </head>

  <body>
    <!-- 네비게이션 바 -->
    <div class="main-container">
      <nav class="main-nav-container"><!--common/navBar.js--></nav>
    </div>

    <!-- 주문관리 수정 페이지 -->
    <div class="container container-user-acc">
      <div class="form-div border-user-acc">
        <form>
          <h3>배송지 정보 수정</h3>

          <div>
            <p>받는 사람</p>
            <input id="receiver" class="" placeholder="한지우" type="text" />
            <p>연락처</p>
            <input
              id="phone-number"
              class=""
              placeholder="01012345678"
              type="text"
            />

            <p>주소</p>
            <div class="flex">
              <input
                class="form-input-address address-style"
                id="postalCode"
                type="text"
                placeholder="주소찾기를 클릭해 주세요."
                readonly
              />
              <div>
                <button id="searchAddressButton" class="but-address">
                  주소찾기
                </button>
              </div>
            </div>
            <input
              class="form-input-user-acc address-style"
              id="address1"
              type="text"
              placeholder=""
              autocomplete="on"
              readonly
            />

            <input
              class="form-input-user-acc address-style"
              id="address2"
              type="text"
              placeholder=""
              autocomplete="on"
            />
          </div>

          <!-- [PUT] 내 주문 정보 수정 -->
          <button id="saveButton" class="but-user-acc">수정히기</button>
        </form>
      </div>
    </div>

    <!-- JS 파일 -->
    <script src="/js/common/config.js"></script>
    <script src="/js/common/navBar.js"></script>
    <script src="/js/usersMyOrdersEdit.js"></script>
  </body>
</html>
