<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 탈퇴 완료 페이지</title>
  <link rel="stylesheet" href="/public/css/common/index.css" />
  <link rel="stylesheet" href="/public/css/common/reset.css" />
  <link rel="stylesheet" href="/public/css/userMembershipWithdrawalComplete.css">
</head>
<body>
  <div class="gridContainer-whole">
    <div class="main-container">
      <nav class="main-nav-container">
        <a href="./mainHome.html"><img class="logo" src="../img/logo.png" alt=""></a>
        <ul class="nav-bar-ul">
          <li class="nav-bar-li"><a href="./signUp.html">회원가입</a></li>
          <li class="nav-bar-li"><a href="./login.html">로그인</a></li>
          <li class="nav-bar-li"><a href="./cart.html">장바구니</a></li>
        </ul>
      </nav>
    </div>
    <div class="gridItem-whole-PageName">
      <div class="container-pageName">
        <div class="pageName">
            회원 탈퇴
          </div>
        </div>
      </div>
      <div class="gridItem-whole-membershipWithdrawalCompeleteMessageBox">
        <div class="container-membershipWithdrawalCompeleteMessageBox">
          <div class="membershipWithdrawalCompeleteMessageBox">
            <div class="container-membershipWithdrawalCompeleteMessageBox-subject">
              <div class="membershipWithdrawalCompeleteMessageBox-subject">회원 탈퇴가 완료되었습니다.</div>
            </div>
            <div class="container-membershipWithdrawalCompeleteMessageBox-message">
              <div class="membershipWithdrawalCompeleteMessageBox-message">
                그동안 감사했습니다. (- -)(_ _)
              </div>
            </div>
            <div class="container-membershipWithdrawalCompeleteMessageBox-homeButton">
              <a href="./mainHome.html"><button id="homeButton">홈으로</button></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gridItem-whole-footer">
      <div class="container-footer">
        <footer></footer>
      </div>
    </div>
  </div>
  <script src="../public/js/common.js"></script>
  <script src="../public/js/userMembershipWithdrawalComplete.js"></script>
</body>
</html>