<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/common/reset.css" />
    <link rel="stylesheet" href="/css/common/index.css" />
    <link rel="stylesheet" href="/css/usersLogin.css" />
  </head>
  <body>
    <!-- 네비게이션 바 -->
    <div class="main-container">
      <nav class="main-nav-container"><!--common/navBar.js--></nav>
    </div>

    <!-- 로그인 화면 -->
    <div class="container">
      <div class="form-div contents-login">
        <form class="form-login">
          <h3>로그인</h3>
          <div class="serve-login">
            <div class="input-login">
              <input
                id="login-email"
                type="text"
                class="email"
                placeholder="이메일"
              />
              <input
                id="login-password"
                type="password"
                class="password"
                placeholder="비밀번호"
              />
            </div>

            <!-- [POST] 로그인 API 요청 -->
            <div class="but-login">
              <button id="login-but">로그인</button>
            </div>
          </div>
        </form>

        <p class="error-message" style="display: none">
          Please enter a valid email address
        </p>
      </div>
    </div>

    <!-- JS 파일 -->
    <script src="/js/common/config.js"></script>
    <script src="/js/common/navBar.js"></script>
    <script src="/js/usersLogin.js"></script>
  </body>
</html>
