<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>회원 탈퇴 완료 페이지</title>
  <link rel="stylesheet" href="../common/index.css">
  <link rel="stylesheet" href="../common/reset.css">
  <link rel="stylesheet" href="./userMembershipWithdrawalComplete.css">
</head>
<body>
  <div class="gridContainer-whole">
    <div class="main-container">
      <nav class="main-nav-container">
        <a href="#"><img class="logo" src="../../img/logo.png" alt=""></a>
        <ul class="nav-bar-ul">
          <li class="nav-bar-li"><a href="#">회원가입</a></li>
          <li class="nav-bar-li"><a href="#">로그인</a></li>
          <li class="nav-bar-li"><a href="#">장바구니</a></li>
        </ul>
      </nav>
    </div>
    <div class="gridItem-whole-PageName">
      <div class="container-pageName">
        <div class="pageName">
            회원 탈퇴
          </div>
        </div>
      </div>
      <div class="gridItem-whole-membershipWithdrawalCompeleteMessageBox">
        <div class="container-membershipWithdrawalCompeleteMessageBox">
          <div class="membershipWithdrawalCompeleteMessageBox">
            <div class="container-membershipWithdrawalCompeleteMessageBox-subject">
              <div class="membershipWithdrawalCompeleteMessageBox-subject">회원 탈퇴가 완료되었습니다.</div>
            </div>
            <div class="container-membershipWithdrawalCompeleteMessageBox-message">
              <div class="membershipWithdrawalCompeleteMessageBox-message">
                그동안 감사했습니다. (- -)(_ _)
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="gridItem-whole-footer">
      <div class="container-footer">
        <footer>푸터</footer>
      </div>
    </div>
  </div>
  <script src="./userMembershipWithdrawalComplete.js"></script>
</body>
</html>