.form-div > form > h3 {
  text-align: center;
  padding: 20px;
  font-size: 26px;
  font-weight: 700;
  color: #ffc737;
}

.input-login {
  width: 60%;
  float: left;
  max-width: 225px;
  /* background-color: rgb(211, 237, 255); */
}

.form-login {
    width: 400px;
}

.input-login > input {
  width: 100%;
  padding: 10px;
  border: 1px solid #dedede;
  margin-bottom: 20px;
}

.but-login {
  width: 40%;
  padding: 15px;
  float: right;
  /* background-color: bisque; */
}

.but-login > button {
  border: none;
  width: 100px;
  height: 60px;
  border-radius: 5px;
  cursor: pointer;
}

.p-login {
  clear: both;
  text-align: center;
  font-size: 12px;
  color: #ababab;
  padding: 30px;
}
.p-login > p >span {
    padding: 3px;
}

.serve-login {
    margin-top: 40px;
 
}

.contents-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
}
.back-page-but {
  width: 200px;
}