/* ready to css */

* {
  box-sizing: border-box;
}

div {
  /* border: 1px solid; */
}

body {
  /* font-size: 90%; */
}

/* 레이아웃 */

div.gridContainer-whole {
  display: grid;
  grid-template-columns: auto 900px auto;
  grid-template-rows: 80px auto auto auto;
}

/* 네비게이션 바 */

div.main-container {
  grid-column: 1/4;
  grid-row: 1/2;
}

/* 장바구니 페이지 이름 */

div.gridItem-whole-PageName {
  grid-column: 2/3;
  grid-row: 2/3;
}

div.container-pageName {
  margin: 2% auto 4% auto;
}

div.pageName {
  display: flex;
}

.container-pageName-name {
  display: flex;

  align-items: center;
}

span.pageName-name {
  font-size: 150%;
  font-weight: bold;
}

div.container-pageName-name-sub {
  display: flex;

  align-items: center;
}

span.container-pageName-name-sub {
}

/* 장바구니에 담긴 상품 정보 & 장바구니 핸들러 */

div.gridItem-whole-inCartAndpaymentInformation {
  grid-column: 2/3;
  grid-row: 3/4;
}

div.container-inCartAndpaymentInformation {
  margin: 0 auto;
}

div.inCartAndpaymentInformation {
  display: flex;

  justify-content: center;
}

div.container-inCartAndpaymentInformation-inCart {
  width: 70%;

  padding: 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

div.inCartAndpaymentInformation-inCart {
  background-color: whitesmoke;

  border: 1px solid;
}

div.container-inCart-head {
  margin: 0 auto;

  padding: 1% 0;
}

div.inCart-head {
  display: flex;
  align-items: center;

  font-weight: bold;
}

div.container-head-selectAllAndcancleAllCheckbox {
  width: 5%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-right: 1px solid;
}

div.container-head-productInformation {
  width: 40%;
  height: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-right: 1px solid;
}

div.container-head-productPrice {
  width: 40%;

  display: flex;
  align-items: center;
  justify-content: center;

  border-right: 1px solid;
}

div.container-head-deleteAllButton {
  flex-grow: 1;

  display: flex;
  align-items: center;
  justify-content: center;
}

div.container-inCart-productList {
}

ul.inCart-productList-ul {
  display: flex;
  flex-wrap: wrap;
}

li.inCart-productList-li {
  width: 100%;

  display: flex;

  border-top: 1px solid;
}

div.container-productList-checkbox {
  width: 5%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 1px solid;
}

div.container-productList-productIamge {
  width: 20%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 1px solid;
}

a.img {
  display: flex;
  justify-content: center;
  align-items: center;
}

img.productList-productIamge {
  width: 80%;
}

div.container-productList-productNameAndCountHandle {
  width: 20%;

  display: flex;
  flex-direction: column;

  border-right: 1px solid;
}

div.container-productList-productName {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  border-bottom: 1px solid;
}

div.container-productList-countHandle {
  flex-grow: 1;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

div.container-productList-productPrice {
  width: 13%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-multiplication {
  width: 3%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-productCount {
  width: 8%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-equal {
  width: 3%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-productTotalPrice {
  width: 13%;

  display: flex;
  justify-content: center;
  align-items: center;

  border-right: 1px solid;
}

div.container-productList-deleteButton {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 선택에 따른 결제 정보 */

div.container-paymentInformation {
  width: 30%;

  padding: 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

div.paymentInformation {
  background-color: whitesmoke;

  padding: 10px;

  border: 1px solid;
}

div.container-paymentInformation-subject {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0 0 3% 0;

  border-bottom: 2px solid;
}

div.paymentInformation-subject {
  font-weight: bold;
}

div.container-paymentInformation-productCount {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 0;

  border-bottom: 1px solid;
}

div.paymentInformation-productCount1 {
}

div.paymentInformation-productCount2 {
}

div.container-paymentInformation-productPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 0;

  border-bottom: 1px solid;
}

div.paymentInformation-productPrice1 {
}

div.paymentInformation-productPrice2 {
}

div.container-paymentInformation-deliveryFee {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 0;

  border-bottom: 1px solid;
}

div.paymentInformation-deliveryFee1 {
}

div.paymentInformation-deliveryFee2 {
}

div.container-paymentInformation-totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 5px 0;
}

div.container-paymentInformation-totalPrice1 {
  display: flex;
  flex-wrap: wrap;
}

div.paymentInformation-totalPrice1 {
  font-size: 110%;
  font-weight: bold;
}

div.container-paymentInformation-totalPrice2 {
  display: flex;
  flex-wrap: wrap;
}

div.paymentInformation-totalPrice2 {
  font-size: 110%;
  font-weight: bold;
}

div.container-paymentInformation-paymentButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.paymentInformation-paymentButton {
  width: 100%;
  height: 100%;
}

/* 푸터 */

div.gridItem-whole-footer {
  grid-column: 1/4;
  grid-row: 4/5;
}

div.container-footer {
  display: flex;
  justify-content: center;
}

footer {
}

div.container-emptyCart {
  width: 40%;
  height: 100px;
  border: solid 1px black;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

div.emptyCart {
  font-weight: bold;
}
