/* ready to css */

* {
  box-sizing: border-box;
}

/* 레이아웃 */

div.gridContainer-whole {
  display: grid;
  grid-template-columns: auto 1000px auto;
  grid-template-rows: 80px auto auto auto;
}

div.gridItem-whole-PageName {
  grid-column: 2/3;
  grid-row: 2/3;
}

/* 주문/결제 페이지 이름 */
.container-pageName > h3 {
  position: relative;
  font-size: 26px;
  margin-bottom: 30px;
  top: 50px;
  padding: 50px;
  text-align: center;
  font-weight: 700;
  color: #ffc737;
}

/* 배송지 정보 & 결제 정보 */

div.gridItem-whole-deliveryInformationAndpaymentInformation {
  width: 80%;
  margin: 0 auto;
  /* padding: 20px; */

  grid-column: 2/3;
  grid-row: 3/4;
  /* border: solid; */
}

div.deliveryInformationAndpaymentInformation {
  display: flex;
  justify-content: center;
}

/* 배송지 정보 */
div.container-deliveryInformation {
  width: 60%;

  padding: 20px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto;

  /* display: flex;
  flex-direction: column;
  - 나중에 세로를 늘려줄 수도 있으니까,, 그리드가 낫지 않을까!?!?
  - 이런 상황마다 리스트 테이블 플렉스 그리드 뭘 써야 할지 판단이 안 선다!!!  */
}

div.deliveryInformation {
  border: 1px solid #f0f0f0;
  box-shadow: 5px 5px 3px 0.5 #595959;
  padding: 40px;
}

div.container-deliveryInformation-subject {
  display: flex;
  align-content: center;
  margin-bottom: 3%;
}
.deliveryInformation-subject {
  text-align: center;
  width: 100%;
}
.deliveryInformation-subject > h4 {
  font-size: 20px;
  top: 100px;
  padding: 20px 0 20px 0;
  text-align: center;
  font-weight: 500;
}

div.container-form-name {
  display: flex;
}

div.container-form-name-label {
  width: 20%;
}

div.container-form-name-input > input {
  width: 100%;
}

div.container-form-name-input {
  width: 80%;
}

div.container-form-phoneNumber {
  display: flex;
}

div.container-form-phoneNumber-label {
  width: 20%;
}

div.container-form-phoneNumber-input {
  width: 80%;
}

div.container-form-phoneNumber-input > input {
  width: 100%;
}

div.container-form-address {
  display: flex;
}

div.container-form-address-label {
  width: 20%;
}

div.container-form-address-input {
  width: 80%;
}

div.container-form-address-input1 {
  display: flex;

  align-items: center;
}

div.container-form-address-input1 > input {
  width: 70%;
}

div.container-form-address-input1 > button {
  width: 30%;
}

div.container-form-address-input2 {
  display: flex;

  align-items: center;
}

div.container-form-address-input2 > input {
  width: 100%;
}

div.container-form-address-input3 {
  display: flex;

  align-items: center;
}

div.container-form-address-input3 > input {
  width: 100%;
}

div.container-form-customerRequest {
  display: flex;

  align-items: center;
}

div.container-form-customerRequest-label {
  width: 20%;
}

div.container-form-customerRequest-input {
  width: 80%;
}

div.container-form-customerRequest-input > input {
  width: 100%;
}

/* 결제 정보 */

div.container-paymentInformation {
  width: 40%;

  padding: 20px;
  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto auto auto;
}

div.paymentInformation {
  background-color: #fff7e3;
  padding: 20px;
}

.paymentInformation-subject > h4 {
  font-size: 20px;
  top: 100px;
  padding: 20px 0 20px 0;
  text-align: center;
  font-weight: 500;
}

div.container-paymentInformation-subject {
  display: flex;

  margin-bottom: 3%;
}

div.container-paymentInformation-NameAndCountList {
  display: flex;
}

div.container-paymentInformation-NameAndCountList-list {
  flex-grow: 1;
}

ul.paymentInformation-NameAndCountList-list-ul {
  display: flex;
  flex-direction: column;
}

ul.paymentInformation-NameAndCountList-list-ul > li {
  margin-left: auto;
}

div.container-paymentInformation-totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.container-paymentInformation-deliveryFee {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.container-paymentInformation-totalPrice {
  display: flex;
  justify-content: space-between;
}

div.container-paymentInformation-deliveryFee-subject {
  display: flex;
  align-items: center;
}

div.container-paymentInformation-deliveryFee-deliveryFee {
  display: flex;
  align-items: center;
}

div.container-paymentInformation-totalPrice {
  display: flex;
  justify-content: space-between;
}

div.container-paymentInformation-paymentButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.paymentInformation-paymentButton {
  width: 90%;
  padding: 16px;
  display: block;
  margin: 40px 0 0 0;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  background-color: #ffc737;
  color: white;
  cursor: pointer;
}

/* 푸터 */

div.gridItem-whole-footer {
  grid-column: 2/3;
  grid-row: 4/5;
}

div.container-footer {
  /* border: solid; */
  /* display: flex; */
  /* justify-content: center; */
}

/* input */

.input-payment {
  width: 100%;
  padding: 10px;
  border: 1px solid #dedede;
  border-radius: 5px;
}

/* 버튼 */

.addressFindButton {
  width: 80px;
  padding: 10px;
  margin-left: 5px;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  background-color: #595959;
  color: white;
  cursor: pointer;
}

/* test */

td,
tr,
td {
  /* border: 1px solid; */
}

.test-container div {
  /* border: 1px solid; */
}

.test-container {
  /* border: solid 1px black; */

  width: 80%;

  margin: 0 auto;
}

.test-container-deliveryAndOrder {
  margin: 0 auto;
}

.test-deliveryAndOrder {
  display: flex;
}

.test-container-delivery {
  width: 60%;
  height: auto;

  display: flex;
  justify-content: center;
}

.test-delivery {
  width: 90%;

  /* border: 1px solid; */
}

.test-delivery th {
  width: 20%;

  text-align: left;
}

.test-delivery td {
  width: 80%;
}

.test-delivery input {
  width: 100%;
}

.test-container-order {
  width: 40%;

  height: auto;

  margin: 0 auto;
}

.test-order {
  width: 90%;

  /* border: 1px solid; */

  margin: 0 auto;
}

.test-order tr {
  display: flex;
  justify-content: space-between;
}

.test-order th {
  width: 40%;

  text-align: left;
}

.test-order td {
  width: 60%;

  text-align: right;
}

.test-container-button {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

.test-button {
}

caption {
  margin: 20px 0;
}
