/* ready to css */

* {
  box-sizing: border-box;
}

div {
  /* border: 1px solid; */
}

/* 레이아웃 */

div.gridContainer-whole {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 80px auto auto auto;
}

/* 네비게이션 바 */

div.main-container {
  grid-column: 1/4;
  grid-row: 1/2;
}

/* 회원 탈퇴 완료 페이지 이름 */
div.gridItem-whole-PageName {
  grid-column: 2/3;
  grid-row: 2/3;
}

div.container-pageName {
  margin: 2% auto 4% auto;
}

div.pageName {
  font-size: 2rem;
  font-weight: bold;
}

/* 회원 탈퇴 완료 메세지 박스 */

div.gridItem-whole-membershipWithdrawalCompeleteMessageBox {
  grid-column: 2/3;
  grid-row: 3/4;
}

div.container-membershipWithdrawalCompeleteMessageBox {
  width: 40%;

  margin: 0 auto;
}

div.membershipWithdrawalCompeleteMessageBox {
  border: solid 1px;
  display: flex;
  flex-direction: column;
}

div.container-membershipWithdrawalCompeleteMessageBox-subject {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 20px;
}

div.membershipWithdrawalCompeleteMessageBox-subject {
  font-weight: bold;
}

div.container-membershipWithdrawalCompeleteMessageBox-message {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding: 20px;
}

div.membershipWithdrawalCompeleteMessageBox-message {

}

div.container-membershipWithdrawalCompeleteMessageBox-homeButton {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 20px;
}

button#homeButton {
  cursor: pointer;
}

/* 푸터 */

div.gridItem-whole-footer {
  grid-column: 1/4;
  grid-row: 4/5;
}

div.container-footer {
  display: flex;
  justify-content: center;
}

footer {

}