<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>메인</title>
  <link rel="stylesheet" href="../common/index.css">
  <link rel="stylesheet" href="../common/reset.css">
  <link rel="stylesheet" href="./main.css">
</head>
<body>
  
  <!-- 네비게이션 바 -->
  <div class="main-container">
    <nav class="main-nav-container">
      <a href="../main/main.html"><img class="logo" src="../../img/logo.png" alt=""></a>
      <ul class="nav-bar-ul">
        <li class="nav-bar-li"><a href="../sign-up/sign-up.html">회원가입</a></li>
        <li class="nav-bar-li"><a href="../login/login.html">로그인</a></li>
        <li class="nav-bar-li"><a href="../cart/cart.html">장바구니</a></li>
      </ul>
    </nav>
  </div>

  <!-- 메인 페이지 -->
    <div class="container-fullScreen">
      <a class="container-monsterBall-a" href="../productListByCategory/productListByCategory.html">
        <img class="monsterBall-img" src="../../img/몬스터볼.png" alt="누르면 홈 화면으로 넘어갑니다">
      </a>
      <span class="click">click!!</span>
    </div>
    <script src="./main.js"></script>
  </body>
</html>
