<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>대문</title>
    <link rel="stylesheet" href="../common/index.css" />
    <link rel="stylesheet" href="../common/reset.css" />
    <link rel="stylesheet" href="../../public/css/main.css" />
  </head>
  <body>
    <div class="main-container">
      <nav class="main-nav-container">
        <a href="#"><img class="logo" src="../../img/logo.png" alt="" /></a>
        <ul class="nav-bar-ul">
          <li class="nav-bar-li"><a href="#">회원가입</a></li>
          <li class="nav-bar-li"><a href="#">로그인</a></li>
          <li class="nav-bar-li"><a href="#">장바구니</a></li>
        </ul>
      </nav>
    </div>
    <div class="container-fullScreen">
      <a class="container-monsterBall-a" href="#">
        <img class="monsterBall-img" src="../../img/메인 몬스터볼.png" alt="" />
      </a>
      <span class="click">click!!</span>
    </div>
    <script src="../../public/js/common.js"></script>
    <script src="../../public/js/main.js"></script>
  </body>
</html>
