<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>장바구니</title>
  <link rel="stylesheet" href="../common/index.css">
  <link rel="stylesheet" href="../common/reset.css">
  <link rel="stylesheet" href="./cart.css">
</head>
<body>
  <div class="gridContainer-whole">
    <div class="main-container">
      <nav class="main-nav-container">
        <a href="#"><img class="logo" src="../../img/logo.png" alt=""></a>
        <ul class="nav-bar-ul">
          <li class="nav-bar-li"><a href="#">회원가입</a></li>
          <li class="nav-bar-li"><a href="#">로그인</a></li>
          <li class="nav-bar-li"><a href="#">장바구니</a></li>
        </ul>
      </nav>
    </div>
    <div class="gridItem-whole-PageName">
      <div class="container-pageName">
        <div class="pageName">
          <div class="container-pageName-name">
            <span class="pageName-name">장바구니</span>
          </div>
          <div class="container-pageName-name-sub">
            <span class="pageName-name-sub">&nbsp> 주문/결제 > 주문 완료 </span>
          </div>
        </div>
      </div>
      <div class="gridItem-whole-inCartAndpaymentInformation">
        <div class="container-inCartAndpaymentInformation">
            <div class="container-inCartAndpaymentInformation-inCart">
              <div class="inCartAndpaymentInformation-inCart">
                <div class="container-inCart-selectAllButtonAndDeleteAllButton">
                  <div class="container-selectAllButtonAndDeleteAllButton-selectAllButton">
                    <button class="selectAllButtonAndDeleteAllButton-selectAllButton-button">전체 선택</button>
                  </div>
                  <div class="container-selectAllButtonAndDeleteAllButton-deleteAllButton">
                    <button class="deleteAllButton-selectAllButtonAndDeleteAllButton-button">전체 삭제</button>
                  </div>
                </div>
                <div class="container-inCart-productList">
                  <div class="inCart-productList">
                    <ul class="inCart-productList-ul">
                      <!-- js로 li 삽입 -->
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="container-paymentInformation">
              <div class="paymentInformation">
                <!-- <div class="container-paymentInformation-subject">
                  <div class="paymentInformation-subject">결제 정보</div>
                </div>
                <div class="container-paymentInformation-productCount">
                  <div class="paymentInformation-productCount1">상품 수</div>
                  <div class="paymentInformation-productCount2">4개</div>
                </div>
                <div class="container-paymentInformation-productPrice">
                  <div class="paymentInformation-productPrice1">상품 금액</div>
                  <div class="paymentInformation-productPrice2">300,000원</div>
                </div>
                <div class="container-paymentInformation-deliveryFee">
                  <div class="paymentInformation-deliveryFee1">배송비</div>
                  <div class="paymentInformation-deliveryFee2">3000원</div>
                </div>      
                <div class="container-paymentInformation-totalPrice">
                  <div class="paymentInformation-totalPrice1">총 결제 금액</div>
                  <div class="paymentInformation-totalPrice2">249,600원</div>
                </div>     
                <div class="container-paymentInformation-paymentButton">
                  <button class="paymentInformation-paymentButton">구매하기</button>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="gridItem-whole-footer">
        <div class="container-footer">
          <footer><button id="button1">데이터1</button> <button id="button2">데이터2</button></footer>
        </div>
      </div>
    </div>
  <script src="./cart.js"></script>
</body>
</html>