/* ready to css */

* {
  box-sizing: border-box;
}

div {
  /* border: 1px solid; */
}

/* 레이아웃 */

div.gridContainer-whole {
  display: grid;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 80px auto auto auto;
}

/* 네비게이션 바 */

div.main-container {
  grid-column: 1/4;
  grid-row: 1/2;
}

/* 장바구니 페이지 이름 */

div.gridItem-whole-PageName {
  grid-column: 2/3;
  grid-row: 2/3;
}

div.container-pageName {
  margin: 2% auto 4% auto;
}

div.pageName {
  display: flex;
}

.container-pageName-name {
  display: flex;

  align-items: center;
}

span.pageName-name {
  font-size: 2rem;
  font-weight: bold;
}

div.container-pageName-name-sub {
  display: flex;

  align-items: center;
}

span.container-pageName-name-sub {

}

/* 장바구니에 담긴 상품 정보 & 장바구니 핸들러 */

div.gridItem-whole-inCartAndpaymentInformation {
  grid-column: 2/3;
  grid-row: 3/4;
}

div.container-inCartAndpaymentInformation {
  display: flex;

  justify-content: center;
}

div.container-inCartAndpaymentInformation-inCart {
  width: 90%;

  padding: 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

div.inCartAndpaymentInformation-inCart {
  background-color: whitesmoke;
}

div.container-inCart-selectAllButtonAndDeleteAllButton {
  display: flex;

  align-items: center;
}


div.container-selectAllButtonAndDeleteAllButton-selectAllButton {
  margin-right: 1%;
}

button.selectAllButtonAndDeleteAllButton-selectAllButton-button {
  
}

div.container-selectAllButtonAndDeleteAllButton-deleteAllButton {

}

button.selectAllButtonAndDeleteAllButton-deleteAllButton-button {

}

div.container-inCart-productList {

}

ul.inCart-productList-ul {
  display: flex;
  flex-wrap: wrap;
}

li.inCart-productList-li {
  width: 100%;

  display: flex;
}

div.container-productList-checkbox {
  width: 5%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-productIamge {
  width: 24%;

  display: flex;
  justify-content: center;
  align-items: center;
}

img.productList-productIamge {
  width: 80%;
}

div.container-productList-productNameAndCountHandle {
  width: 23%;

  display: flex;
  flex-direction: column;
}

div.container-productList-productName {
  flex-grow: 1;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-countHandle {
  flex-grow: 1;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-productPrice {
  width: 23%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-multiplication {
  width: 2%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-productCount {
  width: 23%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-equal {
  width: 2%;

  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-productTotalPrice {
  width: 23%;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

div.container-productList-deleteButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 선택에 따른 결제 정보 */

div.container-paymentInformation {
  width: 90%;

  padding: 20px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
}

div.paymentInformation {
  background-color: whitesmoke;
}

div.container-paymentInformation-subject {
  display: flex;
  align-items: center;
}

div.container-paymentInformation-subject {

}

div.container-paymentInformation-productCount {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.paymentInformation-productCount1 {

}

div.paymentInformation-productCount2 {

}

div.container-paymentInformation-productPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.paymentInformation-productPrice1 {

}

div.paymentInformation-productPrice2 {

}

div.container-paymentInformation-deliveryFee {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.paymentInformation-deliveryFee1 {

}

div.paymentInformation-deliveryFee2 {

}

div.container-paymentInformation-totalPrice {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.paymentInformation-totalPrice1 {
  font-size: 1.1rem;
  font-weight: bold;
}

div.paymentInformation-totalPrice2 {
  font-size: 1.5rem;
  font-weight: bold;
}

div.container-paymentInformation-paymentButton {
  display: flex;
  justify-content: center;
  align-items: center;
}

button.paymentInformation-paymentButton {
  width: 100%;
  height: 100%;
}

/* 푸터 */

div.gridItem-whole-footer {
  grid-column: 1/4;
  grid-row: 4/5;
}

div.container-footer {
  display: flex;
  justify-content: center;
}

footer {

}

