/* .container-user-acc > h3 {
    position: relative;
    font-size: 26px;
    top: 100px;
    padding: 50px;
    text-align: center;
    font-weight: 700;
    color: #ffc737;
} */

.border-user-acc {
    border: 1px solid #dedede;
}
.form-div > form > h3 {
    text-align: center;
    padding: 20px;
    font-size: 26px;
    font-weight: 700;
    color: #FFC737;
}
.form-div > form > div > p {
    padding: 8px;
    font-weight: 500;
    color: #262626;
}
.form-div > form > div {
    margin: 24px;
}
.form-input-user-acc {
    width: 100%;
    padding: 10px;
    border: 1px solid #dedede;
    border-radius: 5px;
    
}

.but-user-acc {
    width: 90%;
    padding: 16px;
    display: block;
    margin:  40px auto;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    background-color: #FFC737;
    color: white;
    cursor: pointer;
}